<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MyReports"
            android:exported="false" />
        <activity
            android:name=".Instructions"
            android:exported="false" />
        <activity
            android:name=".ImportantNumbers"
            android:exported="false" />
        <activity
            android:name=".userdata"
            android:exported="false" />
        <activity
            android:name=".compass"
            android:exported="false" />
        <activity
            android:name=".SuccessReport"
            android:exported="false" />
        <activity
            android:name=".DamageAndSupplies"
            android:exported="false" />
        <activity
            android:name=".RequestSupplies"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".EmergencyContacts"
            android:exported="false" />
        <activity
            android:name=".HealthRecord"
            android:exported="false" />
        <activity
            android:name=".DamageReport"
            android:exported="false" />
        <activity
            android:name=".MakeReport"
            android:exported="false" />
        <activity
            android:name=".UpdateHealthRecord"
            android:exported="false" />
        <activity
            android:name=".UpdateEmergencyContacts"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>